<div class="d-flex w-100 justify-content-between align-items-baseline m-b-20">
  <a class="font-size-23 text-dark" (click)="gotoPreviousStep()">
    <div *ngIf="previousButton">
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
      Back
    </div>
  </a>
  <a class="font-size-23 text-dark" [routerLink]="['/dashboard/paths/view/', path]">
    Return to Path
  </a>
  <a class="font-size-23 text-dark" (click)="gotoNextStep()">
    <div *ngIf="nextButton">
      <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
    Next
    </div>
  </a>
</div>


<article>

  <nz-spin nzSimple [nzSize]="'large'" *ngIf="!pathContent"></nz-spin>
  <section *ngIf="pathContent">
    <h3 nz-typography>{{pathContent.title}}</h3>
    <div [innerHTML]="htmlContent(pathContent.description)"></div>
  </section>
</article>

<br>
<h3 nz-typography>Shared Activities</h3>

<!--
    <nz-comment *ngFor="let comment of comments"
            [nzAuthor]="comment.user.firstName+' '+comment.user.lastName"
            [nzDatetime]="formatDate(comment.created)">
  <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.user.photo"></nz-avatar>
  <nz-comment-content>
    <p>
      {{comment.activity.comment}}
    </p>
    <img *ngIf="comment.activity.attachmentType=='image'" style="height: 110px"
         [src]="comment.activity.attachment" [alt]="comment.activity.originalName">
    <nz-comment>
      <div class="d-flex">
        <nz-avatar nzIcon="user" [nzSrc]="loggedInUser.photo"></nz-avatar>
        <form class="w-100" [formGroup]="addReplyForm" (ngSubmit)="submitReply()">
          <div nz-row class="h-100 justify-content-around bg-white">
            <div class="h-100 p-l-10 bg-white p-2" nz-col nzSm="24" nzMd="16">
          <textarea nz-input placeholder="Write a comment"
                    class="shadow commentTextBox shadow transition"
                    formControlName="comment" (click)="captureCommentID(comment.activity.id)"></textarea>
            </div>
            <input type="file" class="file-input" (change)="handleUploadReply($event, 'image', comment.activity.id)" formControlName="img" #imgUpload>
            <input type="file" class="file-input" (change)="handleUploadReply($event, 'video', comment.activity.id)" formControlName="video" #videoUpload>
            <input type="file" class="file-input" (change)="handleUploadReply($event, 'audio', comment.activity.id)" formControlName="audio" #audioUpload>
            <input type="file" class="file-input" (change)="handleUploadReply($event, 'document', comment.activity.id)" formControlName="document" #docUpload>

            <div class="align-items-center ant-col ant-col-md-8 ant-col-sm-24 d-flex flex-column justify-content-around p-2"
                 nz-col  nzSm="24" nzMd="8">
              <div class="d-flex justify-content-center align-items-center p-2 uploadOptions">
                <div class="d-flex flex-column">
                  <button nz-button type="button" (click)="imgUpload.click()"
                          class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                    <i nz-icon nzType="picture" nzTheme="outline"></i>
                    <span>Picture</span>
                  </button>
                </div>
                <div class="d-flex flex-column m-l-5">
                  <button nz-button type="button" (click)="videoUpload.click()"
                          class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                    <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                    <span>File</span>
                  </button>
                </div>
                <div class="d-flex flex-column m-l-5">
                  <button nz-button type="button" (click)="audioUpload.click()"
                          class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                    <i nz-icon nzType="audio" nzTheme="outline"></i>
                    <span>Audio</span>
                  </button>
                </div>
                <div class="d-flex flex-column m-l-5">
                  <button nz-button type="button" (click)="docUpload.click()"
                          class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                    <i nz-icon nzType="video-camera" nzTheme="outline"></i>
                    <span>Video</span>
                  </button>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <nz-form-item nz-row class="register-area">
                  <nz-form-control>
                    <label nz-checkbox  nzChecked>
                      <span>Private</span>
                    </label>
                  </nz-form-control>
                </nz-form-item>
                <button nz-button nzType="primary" class="ant-btn ant-btn-primary app-brown-btn w-100">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </nz-comment>
  </nz-comment-content>
</nz-comment>
-->

<!--
<nz-collapse [nzBordered]="false">
  <nz-collapse-panel
    #p
    nzHeader="Reply to"
    nzActive="false"
    [ngStyle]="{ background: '#f3f3f3', 'border-radius': '4px', 'margin-bottom': '24px', border: '0px' }"
    nzExpandedIcon="comment"
  >
    <p>Content Here</p>
  </nz-collapse-panel>
</nz-collapse>
-->



<ng-template #commentTemplateRef let-discussion="discussion">
  <nz-comment  [nzAuthor]="discussion.user.firstName+' '+discussion.user.lastName"
               [nzDatetime]="formatDate(discussion.created)">
    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="API.imgFix(discussion.user.photo)"></nz-avatar>
    <nz-comment-content>
      <p [innerHTML]="discussion.activity.comment"></p>
      <img *ngIf="discussion.activity.attachmentType && discussion.activity.attachmentType=='image'" style="height: 110px"
           [src]="API.imgFix(discussion.activity.attachment)" [alt]="discussion.activity.originalName">
        <div class="d-flex">
          <div (click)="discussion.showReply = !discussion.showReply" class="pointer">
            <i nz-icon nzType="comment" nzTheme="outline" class="appColor m-r-5"></i>
            <span class="appColor">Reply to</span>
          </div>
          <a *ngIf="commentEditable(discussion.activity.user.id)" (click)="editCommentClick(discussion.activity.comment, discussion.activity.id, 'Comment')"
                   class="m-l-10">Delete</a>
        </div>
      <form *ngIf="discussion.showReply" class="w-100 m-t-5" [formGroup]="addReplyForm" (ngSubmit)="submitReply()">
        <div nz-row class="h-100 justify-content-around bg-white">
          <div class="h-100 p-l-10 bg-white p-2" nz-col nzSm="24" nzMd="16">
          <textarea nz-input placeholder="Write a comment"
                    class="shadow commentTextBox shadow transition" style="height: 92px"
                    formControlName="comment" (click)="captureCommentID(discussion.activity.id)"></textarea>
          </div>
          <input type="file" class="file-input" (change)="handleUploadReply($event, 'image', discussion.activity.id)" formControlName="img" #imgUpload>
          <input type="file" class="file-input" (change)="handleUploadReply($event, 'video', discussion.activity.id)" formControlName="video" #videoUpload>
          <input type="file" class="file-input" (change)="handleUploadReply($event, 'audio', discussion.activity.id)" formControlName="audio" #audioUpload>
          <input type="file" class="file-input" (change)="handleUploadReply($event, 'document', discussion.activity.id)" formControlName="document" #docUpload>

          <div class="align-items-center ant-col ant-col-md-8 ant-col-sm-24 d-flex flex-column justify-content-around p-2"
               nz-col  nzSm="24" nzMd="8">
            <div class="d-flex justify-content-center align-items-center p-2 uploadOptions">
              <div *ngIf="pathContent.submitOptions.list[0].allowPhoto || true" class="d-flex flex-column">
                <button nz-button type="button" (click)="imgUpload.click()"
                        class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                  <i nz-icon nzType="picture" nzTheme="outline"></i>
                  <span>Picture</span>
                </button>
              </div>
              <div *ngIf="pathContent.submitOptions.list[0].allowDocument || true" class="d-flex flex-column m-l-5">
                <button nz-button type="button" (click)="videoUpload.click()"
                        class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                  <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                  <span>File</span>
                </button>
              </div>
              <div *ngIf="pathContent.submitOptions.list[0].allowAudio || true" class="d-flex flex-column m-l-5">
                <button nz-button type="button" (click)="audioUpload.click()"
                        class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                  <i nz-icon nzType="audio" nzTheme="outline"></i>
                  <span>Audio</span>
                </button>
              </div>
              <div *ngIf="pathContent.submitOptions.list[0].allowVideo || true" class="d-flex flex-column m-l-5">
                <button nz-button type="button" (click)="docUpload.click()"
                        class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                  <i nz-icon nzType="video-camera" nzTheme="outline"></i>
                  <span>Video</span>
                </button>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
<!--              <nz-form-item nz-row class="register-area">-->
<!--                <nz-form-control [(ngModel)]="privateReply" [ngModelOptions]="{standalone: true}" (click)="privateClicked($event)"-->
<!--                                 name="fieldName" ngDefaultControl>-->
<!--                  <label nz-checkbox>-->
<!--                    <span>Private</span>-->
<!--                  </label>-->
<!--                </nz-form-control>-->
<!--              </nz-form-item>-->
              <button nz-button nzType="primary" class="ant-btn ant-btn-primary app-brown-btn w-100">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </nz-comment-content>
    <nz-comment-action>
<!--      <div>-->
<!--        <i nz-icon nzType="comment" nzTheme="outline" class="appColor m-r-5"></i>-->
<!--        <span class="appColor">Reply to</span>-->
<!--      </div>-->
    </nz-comment-action>
    <ng-container *ngIf="discussion.activity.posts && discussion.activity.posts.length">
      <nz-comment *ngFor="let comment of discussion.activity.posts"  [nzAuthor]="comment.user.firstName+' '+comment.user.lastName"
                   [nzDatetime]="formatDate(comment.created)">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="API.imgFix(comment.user.photo)"></nz-avatar>
        <nz-comment-content>
          <p [innerHTML]="comment.message"></p>
          <p [innerHTML]="comment.activity"></p>
          <img *ngIf="comment.attachmentType=='image'" style="height: 110px"
                   [src]="API.imgFix(comment.attachment)">
          <a *ngIf="commentEditable(comment.user.id)" (click)="editCommentClick(comment.message, comment.id, 'Reply')"
                   class="m-l-10">Delete</a>
        </nz-comment-content>
        <nz-comment-action>
          <div>
          </div>
        </nz-comment-action>
      </nz-comment>
    </ng-container>
  </nz-comment>
</ng-template>

<nz-spin nzSimple [nzSize]="'large'" class="m-t-35 m-l-35" *ngIf="!comments"></nz-spin>
<nz-card class="shadow" *ngIf="!comments" style="width: 500px;">
  <h3 nz-typography class="text-muted">No Replies!</h3>
</nz-card>

<ng-container *ngFor="let discussion of comments">
  <ng-template [ngTemplateOutlet]="commentTemplateRef"
               [ngTemplateOutletContext]="{ discussion: discussion }"></ng-template>
</ng-container>





<!-- Add New Comment Drawer-->
<div  nz-row class="m-t-100 customDrawer transition"  [ngClass]="minimized ?? 'minimized'">
  <div class="w-100 customAlert longText p-t-5 p-b-5 p-l-10 p-r-10" nz-col nzSpan="24">
    <div class="d-flex justify-content-between">
      <p *ngIf="!deleteCommentMode" class="font-weight-bold">Activity</p>
      <p *ngIf="deleteCommentMode" class="font-weight-bold">Edit Activity</p>
      <div class="text-white font-size-20" *ngIf="!deleteCommentMode">
        <i nz-icon nzType="expand-alt" nzTheme="outline" (click)="toggleRows()" *ngIf="!showPrompt"></i>
        <i nz-icon nzType="minus" nzTheme="outline" class="m-l-10" (click)="minimize()" *ngIf="!showPrompt"></i>
      </div>
      <div class="text-white font-size-20" *ngIf="deleteCommentMode">
        <i nz-icon nzType="minus" nzTheme="outline" class="m-l-10" (click)="deleteCommentMode=false; showPrompt=true;"></i>
      </div>
    </div>
    <p *ngIf="(minimized !='minimized') || !deleteCommentMode" class="font-size-14 m-0" style="text-align: left" [innerHTML]="actionSubmitDescription"></p>
  </div>
  <div *ngIf="!showPrompt" class="w-100 h-100 transition h-100">
    <form *ngIf="!deleteCommentMode" [formGroup]="addActivityForm" (ngSubmit)="submitAddActivityForm()">
      <div nz-row class="h-100 justify-content-around bg-white">
        <div class="h-100 p-l-10 bg-white p-2" nz-col nzSm="24" nzMd="16">
          <textarea nz-input placeholder="Write a comment"
                    class="shadow commentTextBox shadow transition"
                    [ngStyle]="{'height': textBoxHeight}"
                    formControlName="comment"  *ngIf="pathContent && pathContent.submitOptions.type=='files'"></textarea>

          <div class="w-100" *ngIf="pathContent && pathContent.submitOptions.type=='buttons'">
              <div class="d-flex flex-wrap">
                <button *ngFor="let button of pathContent.submitOptions.list"
                        (click)="submitTypeButtons(button.label)"
                        nz-button
                        [nz-tooltip]="button.label"
                        nzTooltipPlacement="bottomLeft"
                        nzType="default" type="button" class="m-l-10 overflow-hidden">
                  {{limitText(button.label)}}
                </button>
              </div>
          </div>

          <div class="w-100" *ngIf="pathContent && pathContent.submitOptions.type=='textFields'">
              <div class="w-100" *ngFor="let button of pathContent.submitOptions.list; let i=index">
                <input (click)="submitTypeButtons(button.label)" class="w-100" style="margin-bottom: 4px;"
                       [placeholder]="button.label" [(ngModel)]="dynamicInputFieldsData[i]" [ngModelOptions]="{standalone: true}">
              </div>
          </div>

        </div>

        <input type="file" class="file-input" (change)="handleUpload($event, 'image')" formControlName="img" #imgUpload>
        <input type="file" class="file-input" (change)="handleUpload($event, 'video')" formControlName="video" #videoUpload>
        <input type="file" class="file-input" (change)="handleUpload($event, 'audio')" formControlName="audio" #audioUpload>
        <input type="file" class="file-input" (change)="handleUpload($event, 'document')" formControlName="document" #docUpload>

        <div class="align-items-left ant-col ant-col-md-8 ant-col-sm-24 d-flex flex-column justify-content-around p-2" nz-col  nzSm="24" nzMd="8">
          <div class="d-flex justify-content-center align-items-center p-2 uploadOptions">
            <div class="d-flex flex-column">
              <button nz-button type="button" (click)="imgUpload.click()"
                      class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                <i nz-icon nzType="picture" nzTheme="outline"></i>
                <span>Picture</span>
              </button>
            </div>
            <div class="d-flex flex-column m-l-5">
              <button nz-button type="button" (click)="videoUpload.click()"
                      class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                <span>File</span>
              </button>
            </div>
            <div class="d-flex flex-column m-l-5">
              <button nz-button type="button" (click)="audioUpload.click()"
                      class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                <i nz-icon nzType="audio" nzTheme="outline"></i>
                <span>Audio</span>
              </button>
            </div>
            <div class="d-flex flex-column m-l-5">
              <button nz-button type="button" (click)="docUpload.click()"
                      class="border-0 bg-transparent d-flex flex-column align-items-center p-0">
                <i nz-icon nzType="video-camera" nzTheme="outline"></i>
                <span>Video</span>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-left">
            <nz-form-item nz-row class="register-area">
              <nz-form-control [(ngModel)]="private" [ngModelOptions]="{standalone: true}" (click)="privateClicked($event)"
                               name="fieldName" ngDefaultControl>
                <label nz-checkbox>
                  <span>Private</span>
                </label>
              </nz-form-control>
            </nz-form-item>
            <button nz-button nzType="primary" class="ant-btn ant-btn-primary app-brown-btn w-100" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <div *ngIf="deleteCommentMode" style="height: 108px;"
         class="bg-white p-l-5 p-r-5 d-flex align-items-center">
      <button nz-button nzType="primary" (click)="loadDelButton()"
              [nzLoading]="delButtonLoading" class="m-r-20">
        <span nz-icon nzType="delete"></span>
        Delete
      </button>
      <p class="m-0">{{delCommentTxt}}</p>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br>
